@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Poppins", sans-serif;
}
img {
  width: 100%;
}
span {
  color: orange;
}

.hero-section {
  display: flex;
  justify-content: center;
  margin-bottom: 150px;
}
.hero-write {
  width: 50%;
  padding: 12% 0% 0 9%;
}
.hero-write h1 {
  font-size: 5rem;
  color: rgba(0, 0, 0, 0.719);
  line-height: 100px;
  padding-bottom: 20px;
}
.hero-write p {
  margin-bottom: 50px;
  color: rgba(83, 62, 19, 0.76);
}
.button {
  padding: 15px 40px;
  border-radius: 30px;
  color: #fff;
  background: linear-gradient(to right, rgb(233, 154, 9), rgb(255, 64, 5));
}
.hero-image {
  width: 50%;
  padding-top: 5%;
}

.hero-image img {
  width: 80%;
}

/* about section image  */
/* about section image  */
.section-about {
  background: url(images/shapes/7.png);
  background-size: cover;
}
.about-section {
  display: flex;
  justify-content: center;
}
.about-write {
  width: 50%;
}
.about-write h1 {
  padding-top: 150px;
  font-size: 4rem;
  padding-bottom: 50px;
  color: rgba(0, 0, 0, 0.671);
}
.about-write p {
  padding-bottom: 100px;
}

.about-image {
  width: 50%;
  margin-left: 300px;
  margin-top: 100px;
}
.about-image img {
  width: 50%;
  object-fit: cover;
  margin-bottom: -6px;
}
